:root {
  --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
  --yellow: #f3bc17;
  --bgone: hsl(0, 0%, 98%);
  --bgtwo: black;
  --pale-purple-pantone: hsl(262, 63%, 92%);
  --medium-sea-green: hsl(152, 63%, 43%);
  --independence: hsl(219, 21%, 39%);
  --eerie-black: hsl(210, 11%, 15%);
  --space-cadet: hsl(240, 22%, 25%);
}

.mainOne {
  background-image: url(../Main/personImg.jpg);
}

.waving-icon {
  display: inline-block;
  animation: tiltAnimation 2s infinite linear;
}

@keyframes tiltAnimation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.icon {
  display: inline-block;
  font-size: 24px;
  /* Adjust the font size as needed */
  animation: moveIcon 2s linear infinite;
  /* Adjust the duration as needed */
}

.Btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-shadow: 0px 0px 5px var(--yellow);
  border-radius: 25px;
  color: white;
  width: 150px;
  text-align: center;
  transition: 0.5s ease-in; /* Adjust transition duration */
  gap: 10px;
}

.downArrow {
  position: relative;
  cursor: pointer;
  left: 50%;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
  box-shadow: 0 0 5px var(--yellow);
  background-color: var(--yellow);
  top: 1rem;
  animation: moveUpDown 4s linear infinite;
}

.downArrow:hover {
  background-color: #fff;
  color: var(--yellow);
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}


.socialicon {
  position:relative;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: flex;
  font-size: 20px;
  background-color: var(--yellow);
  color: #fff;
  transition: ease 0.5s;
  box-shadow: 0px 0px 5px var(--yellow);
}

.socialicon:hover{
  transform: scale(1.1);
  color: var(--yellow);
  background: white;
}